---
import { Image } from "astro:assets";
import LayoutVacio from "../layouts/LayoutVacio.astro";

import SpaceX404 from "../images/SpaceX404.webp";
---

<LayoutVacio title="Error 404 Not Found">
  <div
    class="flex flex-col justify-center items-center m-auto min-h-screen min-w-full"
  >
    <h2 class="text-gray-400 text-2xl text-center mb-8">ERROR 404</h2>
    <h1 class="text-white text-4xl text-center mb-4">
      Esta página no existe...
    </h1>
    <Image
      class="justify-self-end aspect-square w-72"
      src={SpaceX404}
      alt="Logo API SpaceX"
      loading="eager"
    />
  </div>
</LayoutVacio>
