---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequatur
    quaerat nostrum architecto, nulla atque minus deserunt enim nihil impedit
    sit similique quasi mollitia, perferendis explicabo exercitationem!
    Suscipit, aspernatur dignissimos!
  </p>
</Layout>
