---
import { Image } from "astro:assets";

interface Props {
  gallery: string[];
  name: string;
}

const { gallery, name } = Astro.props;
---

<h4 class="text-center pb-6">Imagenes del Lanzamiento</h4>

<div
  class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 justify-center items-center pb-10"
>
  {
    gallery != null &&
      gallery.map((img) => {
        return (
          <a
            href={img}
            class="hover:scale-105 flex mx-auto"
          >
            <picture class="aspect-square min-w-60">
              <Image
                class="aspect-square rounded-xl shadow-md max-w-80 "
                src={img}
                alt={`Imagen del lanzamineto: ${name}`}
                loading="lazy"
                width="320"
                height="320"
              />
            </picture>
          </a>
        );
      })
  }
</div>
